.teksts {
display: flex;
padding: 16px 32px 8px;
margin: 8px 12px;
background-color: #00ffff;
font-family: 'Georgia', Georgia, monospace;
font-size: 32px;
}
.arejaKaste{
  border-style: double;
  margin: 50px 20px 50px 20px;
  background-color:#ffff66;
  border-color: #ffcc00;
  padding: 15px 15px 15px 15px;
}
.poga{
  background-color: #ff0000;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.poga:hover {opacity: 1}
 .label {
color: #B4886B;
font-weight: bold;
display: block;
width: 150px;
float: left;
}
label:after { content: ": " }
  
